.project-title {
    background-color: $black;
    color: $yellow;
    margin: 0 0 1.5rem;
    padding: 1rem;
}

.screenshot {
    margin-top: 1.5rem;
}

// Homepage section
section.projects {
    background-color: $black;
    color: $white;
    padding-bottom: 72px;

    h2 {
        color: $white;
    }

    .card {
        background-color: transparent;
        border-color: $yellow;
        border-radius: 0;

        &-img-overlay {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            &:before {
                background-color: rgba($black, 0.4);
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 0;
            }

            .card-title {
                background-color: $yellow;
                color: $black;
                margin-bottom: 0;
                padding: 4px 16px;
                position: relative;
                z-index: 1;

                a {
                    color: $black;
                    text-decoration: none;
                }
            }
        }

        &:hover {
            border-color: $white;

            .card-title {
                background-color: $black;
                color: $white;

                a {
                    color: $white;
                }
            }
        }
    }
}
