// Projects Page
.page-projects {
    .project {
        h2 {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Single Project
.project-title {
    background-color: $black;
    color: $yellow;
    margin: 0 0 1.5rem;
    padding: 1rem;
}

.screenshot {
    margin-top: 1.5rem;
}
