.about {
    &__intro {
        font-weight: $fw-reg;
    }

    .skills {
        &__title {
            font-size: 1.125rem;
        }

        &__list {
            columns: 2;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
            }
        }
    }
}
