.page-single-project {
    .project {
        &__title {
            margin-bottom: 1.5rem;
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }
        }

        &__info {
            font-size: $text-m;
            font-weight: $fw-reg;
            margin-bottom: 1rem;
        }

        &__website {
            display: inline-block;

            &:hover {
                color: $blue;
                text-decoration: none;
            }
        }

        &__smallprint {
            margin: 1.25rem 0 0;
            font-size: 16px;
        }
    }
}