@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif font-bold leading-tight;
    }

    p {
        @apply mb-4;
    }

    /* Default page template */
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply mb-4;
    }

    h2 {
        @apply text-2xl;
    }

    @media screen and (min-width: 768px) {
        h2 {
            @apply text-3xl;
        }
    }

    @media screen and (min-width: 1200px) {
        h2 {
            @apply text-3xxl;
        }
    }

    h2:not(:first-child) {
        @apply mt-6 mb-4;
    }

    body.page-template-default .entry-content p {
        @apply mb-4;
    }

    body.page-template-default table.cky-cookie-audit-table {
        @apply border-collapse;
    }

    body.page-template-default table.cky-cookie-audit-table th,
    body.page-template-default table.cky-cookie-audit-table td {
        @apply bg-transparent border border-black border-solid p-2 text-base;
    }

    a.cky-banner-element {
        @apply bg-blue border border-blue border-solid box-border cursor-pointer inline-block no-underline py-2 px-8 rounded-none text-white;
    }

    div.cookie-policy-p p:last-child {
       @apply mb-0;
    }

    /* 404 template */
    @media screen and (min-height: 553px) {
        body.error404 {
            @apply min-h-screen relative;
        }

        body.error404 .footer {
            @apply fixed bottom-0 w-full;
        }
    }
}

@layer components {
    /* WordPress Nav Menu styles */
    .header-nav ul {
        @apply m-0 p-0;
    }

    .header-nav ul li {
        @apply inline-block list-none;
    }

    .header-nav ul li.current-menu-item a {
        @apply text-blue underline;
    }

    .header-nav ul li a {
        @apply inline-block text-xl leading-tight p-3 no-underline hover:text-blue hover:underline;
    }

    .footer-nav {
        @apply leading-none;
    }

    .footer-nav .menu {
        @apply text-right;
    }

    .footer-nav .menu .menu-item {
        @apply inline-block text-sm;
    }

    .footer-nav .menu .menu-item a {
        @apply pl-3;
    }

    @media screen(md) {
        .header-nav ul li {
            @apply ml-8;
        }

        .header-nav ul li a {
            @apply text-2xl px-0;
        }
    }
}

@layer utilities {
    @media (max-width: 767px) {
        .container {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    @media screen(sm) {
        .container {
            max-width: 540px;
        }
    }

    @media screen(md) {
        .container {
            max-width: 720px;
            @apply px-3;
        }
    }

    @media screen(lg) {
        .container {
            max-width: 82.5%;
        }
    }

    @media screen(3xl) {
        .container {
            max-width: 1280px;
        }
    }
}
