// Colours
$black: #222;
$blue: #0052bd;
$cyan: #0ac2c9;
$red: #cf2727;
$white: #fff;
$yellow: #ffe66b;

//
// Typography
//

// Fonts
$heading-font: 'DM Serif Display', serif;
$body-font: 'Lato', sans-serif;

// Font Weights
$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-bold: 700;
$fw-black: 900;

// Font Sizes
$text-xs: 14px;
$text-s: 16px;
$text-m: 18px;
$text-l: 24px;
$text-xl: 32px;
$text-xxl: 48px;
