//
// Site-wide default styles
//

body {
    font-family: $primary-font;
    font-size: $text-m;
    font-style: normal;
    font-weight: $fw-reg;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: $fw-bold;
}

.container {
    @include media-breakpoint-up(lg) {
        max-width: 82.5%;
    }

    @include media-breakpoint-up(xxxl) {
        max-width: 1280px;
    }
}
