//
// Site-wide default styles
//

body {
    font-family: $primary-font;
    font-size: $text-m;
    font-style: normal;
    font-weight: $fw-reg;
    margin: 0;
    padding: 0;

    &.error404 {
        h1 {
            font-size: calc(1.375rem + 1.5vw);

            @include media-breakpoint-up(lg) {
                font-size: 2.5rem;
            }
        }

        @media screen and (min-height: 553px) {
            min-height: 100vh;
            position: relative;

            .footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font;
    font-weight: $fw-bold;
}

.container {
    @include media-breakpoint-down(md) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
        max-width: 82.5%;
    }

    @include media-breakpoint-up(xxxl) {
        max-width: 1280px;
    }
}
