.footer {
    .social {
        line-height: 1;
        margin: 0;
        padding: 0;

        &__item {
            display: inline-block;
            font-size: 1.5rem;
            line-height: 1;
            list-style: none;

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }

        &__link {
            &:hover {
                color: $blue;
            }
        }
    }
}
