.header {
    background-color: $black;
    border-bottom: 1px solid $white;
    color: $white;
    padding: 32px 0;

    .row .logo-col,
    .row .nav-col  {
        display: flex;
        align-items: center;
    }

    .row .nav-col {
        justify-content: end;
    }

    .title {
        color: $white;
        font-family: $heading-font;
        font-size: calc(1.375rem + 1.5vw);
        letter-spacing: .125rem;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;

        @include media-breakpoint-up(xl) {
            font-size: 2.5rem;
        }
        
        a {
            color: $white;
            text-decoration: none;
        }
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            display: inline-block;

            a {
                color: $white;
                line-height: 1;
                padding: 0.5rem 1rem;
                text-decoration: none;
        
                &:hover {
                    color: $yellow;
                }
            }

            &:last-of-type {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}
